@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-nav:  #252c37; 
  --color-primary: #0f172a;
  --color-accent: #00b3e2;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply antialiased bg-gray-50 text-slate-600;
  }

  /* CLASS BARU: Untuk mematikan scroll saat modal terbuka */
  body.modal-open {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .form-label {
    @apply block text-[11px] font-extrabold text-slate-400 uppercase mb-1.5 tracking-widest;
  }

  .form-input {
    @apply w-full px-4 py-2.5 rounded-xl border border-slate-200 bg-white text-sm font-semibold 
    outline-none focus:ring-2 focus:ring-blue-100 focus:border-blue-500 
    transition-all placeholder:text-slate-300 disabled:bg-slate-50 disabled:text-slate-400;
  }

  .btn-primary {
    @apply bg-slate-900 text-white font-bold rounded-xl transition-all 
    hover:bg-black active:scale-95 disabled:opacity-70 disabled:cursor-not-allowed;
  }
  
  .sug-item {
    @apply cursor-pointer p-3 border-b border-slate-50 hover:bg-blue-50 transition-colors flex items-center gap-3;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar { width: 4px; height: 4px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
  .custom-scrollbar::-webkit-scrollbar-thumb { @apply bg-slate-200 rounded-full hover:bg-slate-300; }

  
  .z-content { z-index: 10; }   /* Konten Biasa */
  .z-sticky  { z-index: 20; }   /* Form Sticky di Kiri */
  .z-navbar  { z-index: 40; }   /* Navbar (Harus > Sticky & Content) */
  .z-overlay { z-index: 50; }   /* Gelap Sidebar Mobile */
  .z-sidebar { z-index: 60; }   /* Sidebar Mobile & Floating Button */
  .z-search  { z-index: 70; }   /* Dropdown Search */
  .z-modal   { z-index: 100; }  /* Modal Dialog (Paling Atas) */
}